#question-container .ques{
    display: inline-block;
    color: beige;
    background-color: #ff990098;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
}

#question-container .active-ques{
    background-color: #ff9800;

}

input[type="button"]{
    background-color:rgba(81, 202, 57, 8);
    border: none;
    border-radius: 10px;
    padding:5px;
    color: white;
}

#submit_test{
    background-color: rgba(233, 78, 78, 0.801);
    float:right;
}


.visibility-no{
    position: absolute;
    right:0;
    top: 0;
    visibility: hidden;
}



#questionImg{
   max-height: 400px;
    overflow: scroll;
}





@media only screen and (max-width: 600px) {
    #questionImg{
        height: 100%;
        overflow: hidden;
    }
  }

/* processor */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .answer{
      background-color:rgba(0, 128, 0, 0.562);
      color:white;
      padding: 5px;
      border-radius: 5px;
  }

  .wrong{
    background-color:rgba(255, 0, 0, 0.534);
    color:white;
    padding: 5px;
    border-radius: 5px;
  }

  .buttons{
      display: flex;
      justify-content: space-between;
  }

 .neutral {
    background-color:rgba(75, 70, 70, 0.534);
    color:white;
    padding: 5px;
    border-radius: 5px;

 }



 /* Answer to: "custom scrollbar css" */

#yourContainer::-webkit-scrollbar {
	width: 12.34px;
	/* You can add other properties & values */
}

#yourContainer::-webkit-scrollbar-track {
	background-color: #123456;
	/* You can add other properties & values */
}

#yourContainer::-webkit-scrollbar-thumb {
	background: #123456;
    outline: 1px solid #654321;
	/* You can add other properties & values */
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
