.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}




#question-container .ques{
    display: inline-block;
    color: beige;
    background-color: #838680;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
}

.answer{
  margin: 1px 0px;
}

#question-div{
  color: black !important;
}
input[type="button"]{
    background-color:rgba(81, 202, 57, 8);
    border: none;
    padding:5px;
    color: white;
    width:82px;
}

#submit_test{
    background-color: rgba(233, 78, 78, 0.801);
    float:right;
}


.visibility-no{
    position: absolute;
    right:0;
    top: 0;
    visibility: hidden;
}



#questionImg{
   max-height: 400px;
    overflow: auto;
    display:inline-block;
}







/* processor */

.loader_parent{
    display:flex;
    align-items:center;
    justify-content:center;
}
.loader {
    
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .answer{
      background-color:rgba(0, 128, 0, 0.562);
      color:white;
      padding: 5px;
      border-radius: 5px;
  }

  .wrong{
    background-color:rgba(255, 0, 0, 0.534);
    color:white;
    padding: 5px;
    border-radius: 5px;
  }

  .buttons{
      display: flex;
      justify-content: space-between;
  }

 .neutral {
    background-color:rgba(75, 70, 70, 0.534);
    color:white;
    padding: 5px;
    border-radius: 5px;

 }



 /* Answer to: "custom scrollbar css" */

#yourContainer::-webkit-scrollbar {
	width: 12.34px;
	/* You can add other properties & values */
}

#yourContainer::-webkit-scrollbar-track {
	background-color: #123456;
	/* You can add other properties & values */
}

#yourContainer::-webkit-scrollbar-thumb {
	background: #123456;
    outline: 1px solid #654321;
	/* You can add other properties & values */
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



#question-container .answered{
    background-color: #65f776;
    border-radius: 2px 15px 2px 2px;
}

#question-container .unanswered{
    background-color: #f05129;
    border-radius: 2px 15px 2px 2px;
}
#question-container .active-ques{
    background-color: #444f56;

}

.img-fluid{
    display:inline-block;
}

.option_con{
    display:flex;
    align-items:center;
}


#qno{
    font-weight:bold;
    
    color:black;
}

opacity-transition: opacity $speed ease-in-out;

.modal-header {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

.close {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	height: 16px;
	text-decoration: none;
	width: 16px;	
}

svg {
  width: 16px;
}

.modal-wrapper {
	align-items: center;
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#modal {
	opacity: 0;
	transition: opacity-transition;
	visibility: hidden;


	}

	.modal-body {
		max-width: 500px;
		opacity: 0;
		transform: translateY(-100px);		
		width: 100%;
		z-index: 1;
	}


.outside-trigger {
	bottom: 0;
	cursor: default;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.button__link {
	text-decoration: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#time-taken{
  float: right;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1px 3px 1px 3px;
  font-size:15px;
  width:50px;
  height:50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

@media (max-width:500px){
  #time-taken{
    font-size:14px;
    width:60px;
    height:20px;
    border-radius: 0%;
  }
}

.time-taken-green{
    border : 1px solid rgba(0, 128, 0, 0.822);
    background-color: rgba(0, 128, 0, 0.822);
}

.time-taken-orange{
  border : 1px solid rgba(255, 166, 0, 0.836);
  background-color: rgba(255, 166, 0, 0.836);
  transition: border 15s;
  transition: background-color 15s;
}

.time-taken-red{
  border : 1px solid rgba(255, 0, 0, 0.616);
  background-color: rgba(255, 0, 0, 0.616);
  transition: border 15s;
  transition: background-color 15s;
}
